.app-container {
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  background-color: aquamarine;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  text-align: center;
  color: rgb(8, 162, 233);
}

form {
  margin-bottom: 51px;
}

input, select, button {
  display: block;
  width: 95%;
  margin: 10px 0;
  padding: 10px;
}

ul {
  padding: 1;
  list-style: none;
}

li {
  margin-bottom: 10px;
}

button {
  margin-right: 100px;
}
